cloud enabled vehicle theft/vehicle tracking node red flow code.txt
[{"id":"57073dca.2b7654","type":"tab","label":"cloud enabled vehicle theft","disabled":false,"info":""},{"id":"2207a921.dee9f6","type":"ibmiot in","z":"57073dca.2b7654","authentication":"apiKey","apiKey":"687ddfc8.cdc9e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"tracking","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":141,"y":209.00000169873238,"wires":[["b7b25294.3a4c6","63a5adec.bc93a4"]]},{"id":"b7b25294.3a4c6","type":"function","z":"57073dca.2b7654","name":"latitude","func":"msg.payload=msg.payload.d.latitude\nglobal.set(\"latitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":169,"wires":[["34ee331b.9645fc"]]},{"id":"63a5adec.bc93a4","type":"function","z":"57073dca.2b7654","name":"longitude","func":"msg.payload= msg.payload.d.longitude\nglobal.set(\"longitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":249,"wires":[["da2e581c.996c88"]]},{"id":"da2e581c.996c88","type":"ui_gauge","z":"57073dca.2b7654","name":"","group":"dc407bb7.76f738","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738.0000076293945,"y":218.00000381469727,"wires":[]},{"id":"34ee331b.9645fc","type":"ui_gauge","z":"57073dca.2b7654","name":"","group":"dc407bb7.76f738","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":744.0000076293945,"y":278.00000381469727,"wires":[]},{"id":"2fabd783.a7ebf8","type":"http in","z":"57073dca.2b7654","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":195,"y":319,"wires":[["23fe8e72.52cff2"]]},{"id":"23fe8e72.52cff2","type":"function","z":"57073dca.2b7654","name":"globalfunction","func":"msg.payload={\"latitude\":global.get(\"latitude\"),\"longitude\":global.get(\"longitude\")}\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":333.0000047683716,"wires":[["690f96cb.4c8298"]]},{"id":"690f96cb.4c8298","type":"http response","z":"57073dca.2b7654","name":"","statusCode":"","headers":{},"x":667.0000076293945,"y":371.0000047683716,"wires":[]},{"id":"27de5235.6a202e","type":"ibmiot out","z":"57073dca.2b7654","authentication":"apiKey","apiKey":"687ddfc8.cdc9e","outputType":"cmd","deviceId":"1234","deviceType":"tracking","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":731.1000595092773,"y":442.00000762939453,"wires":[]},{"id":"64da8297.0423bc","type":"ui_button","z":"57073dca.2b7654","name":"","group":"dc407bb7.76f738","order":6,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOTOROFF","payloadType":"str","topic":"","x":338.1000061035156,"y":423.0000066757202,"wires":[["27de5235.6a202e","f079e1c4.862b9"]]},{"id":"ac62ce88.e8a9e","type":"http in","z":"57073dca.2b7654","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":191,"y":590.0000085830688,"wires":[["6eaf87f6.0bf0a8"]]},{"id":"6eaf87f6.0bf0a8","type":"function","z":"57073dca.2b7654","name":"Commandfunction","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":482.00000762939453,"y":612.0000095367432,"wires":[["87574e8b.ad75c","f079e1c4.862b9","27de5235.6a202e"]]},{"id":"87574e8b.ad75c","type":"http response","z":"57073dca.2b7654","name":"","statusCode":"","headers":{},"x":742.0000076293945,"y":645.0000095367432,"wires":[]},{"id":"f079e1c4.862b9","type":"debug","z":"57073dca.2b7654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790.1000595092773,"y":508.00000762939453,"wires":[]},{"id":"bcdc4818.cb3b08","type":"ui_button","z":"57073dca.2b7654","name":"","group":"dc407bb7.76f738","order":6,"width":0,"height":0,"passthru":false,"label":"Automatic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Automatic","payloadType":"str","topic":"","x":342.00000381469727,"y":484.00000762939453,"wires":[["27de5235.6a202e","f079e1c4.862b9"]]},{"id":"687ddfc8.cdc9e","type":"ibmiot","z":"","name":"triveni","keepalive":"60","serverName":"d0mn4w.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"dc407bb7.76f738","type":"ui_group","z":"","name":"Default","tab":"bc570ef9.1ffdc","disp":true,"width":"6","collapse":false},{"id":"bc570ef9.1ffdc","type":"ui_tab","z":"","name":"triveni","icon":"dashboard","disabled":false,"hidden":false}]